# Arquivo de configuração do Aliaser
alias vim='nvim'
alias ifc='ifconfig'
alias clearn='clear && neofetch'
alias ls='lsd'
alias v='nvim .'
alias storage='du -h --max-depth=1 . | sort -h'
alias lag="lsd -lag"
alias lg='lazygit'

# Tmux
alias t='tmux'
alias trs='tmux rename-session'

# Docker
alias containerip='docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}''

# Sec4you
alias vpnsec='nmtui connect sec4you'

# Spotify-player
alias sp='spotify_player'
