# Arquivo de configuração do Aliaser
alias uvim='uv run nvim'
alias vim='nvim'
alias v='nvim .'
alias storage='du -h --max-depth=1 . | sort -h'

# Directories
alias dots="cd $HOME/repos/dotfiles"
alias wk="cd $HOME/work"

# Docker
alias containerip='docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}''

# Pyenv
alias usevenv='pyenv activate $(basename "$PWD")'

# Apt
alias upd='sudo apt update && sudo apt upgrade -y'
alias aptins='sudo apt install'

# Git Delete Merged Branches
alias gdmb='git branch --no-color --merged | grep -vE "$(git_main_branch)|main|master|develop|developer|\*" | xargs -n 1 git branch -d'

alias ls='eza -1 --group-directories-first'
alias lsa='eza -a --group-directories-first'
alias ll='eza -lh --group-directories-first --icons=auto'
alias lt='eza --tree --level=2 --long --icons --git'

# Lazygit
alias lg='lazygit'

# Tmux
alias t='tmux'
