Cache/
Code\ Cache/
Crashpad/
DawnGraphiteCache/
DawnWebGPUCache/
Dictionaries/
GPUCache/
Local\ Storage/
Session\ Storage/
Shared\ Dictionary/
backups/
blob_storage/
conf/
typora-dictionaries/
9RB5pKbVAA
Cookies
Cookies-journal
Network\ Persistent\ State
Preferences
TransportSecurity
Trust\ Tokens
Trust\ Tokens-journal
history.data
profile.data
typora.log
