# Arquivo de configuração do Aliaser
alias vim='nvim.appimage'
alias upd='sudo apt update && sudo apt upgrade'
alias zshconfig='vim ~/.zshrc'
alias ifc='ifconfig'
alias clearn='clear && neofetch'
alias cls='clear'
alias nvim='nvim.appimage'
alias vi='nvim.appimage'
alias ls='lsd'
alias aptins='sudo apt update && sudo apt install'
alias vims='nvim.appimage -S'
alias ipchecker='python /home/vcardoso/.scripts/ip_check.py'
alias capm='/usr/lib/jvm/java-11-openjdk-amd64/bin/java -jar /home/vcardoso/Downloads/layer7/Layer7_API_Gateway_Policy_Manager_11.0.00/Manager-11.0.00.14811/Manager.jar'
alias v='nvim.appimage .'
